.application-modal {
    width: 50%;
    height: 75%;
    padding: 12px;
    background: var(--ca-white);
    border: 4px solid var(--ca-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.application-modal-info {
    height: 92%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.application-modal-info-left {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.application-modal-cleaning {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.applicationl-cleaning-info {
    background: var(--ca-grey);
    color: var(--ca-white);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.application-textarea-label {
    color: var(--ca-black);
}

.application-textarea-area {
    border: 1px solid var(--ca-grey);
    color: var(--ca-grey);
    background-color: var(--ca-white);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    height: 10vh;
    overflow-y: auto;
    text-wrap: wrap;
}

.application-modal-info-right {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.application-status {
    background: var(--ca-black);
    width: 100%;
    color: var(--ca-white);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding: 2px 0 2px 0;
}

.application-modal-buttons {
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 16px;
}
