.acitve-applications-card {
    width: 75%;
    height: 80%;
    background: #F6D200;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.active-applications-list {
    width: 70%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.active-applications-filter {
    width: 30%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}
