.acitve-applications-card {
    width: 75%;
    height: 80%;
    background: #FFFFFF;
    border: 4px solid #6B6B6B;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.active-applications-list {
    width: 70%;
    height: 100%;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.active-applications-filter {
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}
