.btn {
    border-radius: 8px;
    justify-content: center;
    padding: 0;
}

.btn-second {
    background-color: var(--ca-grey);
    border-color: var(--ca-grey);
    color: var(--ca-white);
}

    .btn-second:hover {
        background-color: color-mix(in srgb, var(--ca-grey) 70%, var(--ca-black) 30%);
        border-color: color-mix(in srgb, var(--ca-grey) 70%, var(--ca-black) 30%);
        color: var(--ca-white);
    }

    .btn-second:active {
        background-color: var(--ca-black);
        border-color: var(--ca-black);
        color: var(--ca-white);
    }

    .btn-second:disabled {
        background-color: var(--ca-black);
        border-color: var(--ca-black);
        color: var(--ca-grey);
    }

.btn-main {
    background-color: var(--ca-yellow);
    border-color: var(--ca-yellow);
    color: var(--ca-black);
}

    .btn-main:hover {
        background-color: color-mix(in srgb, var(--ca-yellow) 90%, var(--ca-black) 10%);
        border-color: color-mix(in srgb, var(--ca-yellow) 90%, var(--ca-black) 10%);
        color: var(--ca-black);
    }

    .btn-main:active {
        background-color: color-mix(in srgb, var(--ca-yellow) 85%, var(--ca-black) 15%);
        border-color: color-mix(in srgb, var(--ca-yellow) 85%, var(--ca-black) 15%);
        color: var(--ca-black);
    }

    .btn-main:disabled {
        background-color: color-mix(in srgb, var(--ca-yellow) 85%, var(--ca-black) 15%);
        border-color: color-mix(in srgb, var(--ca-yellow) 85%, var(--ca-black) 15%);
        color: var(--ca-black);
    }