.application-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applications-card {
    height: 80%;
    width: 75%;
    background: #F6D200;
    border-radius: 16px;
    padding: 8px 12px 12px 12px;
}

.applications-card-list {
    background: #FFFFFF;
    height: 90%;
    padding: 8px;
    border-radius: 8px;
    overflow-y: auto;
    gap: 10px;
}
