@page "/created-applications"
@attribute [Authorize(Roles = "Officer")]
@using CleaningAppWeb.Components.Shared.ApplicationCard
@using CleaningAppWeb.Components.Shared.OfficerApplicationsCard
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

<div class="w-100 h-100 d-flex flex-row">
    <div class="application-side">
        <OfficerApplicationsCard Label="Активные заявки" />
    </div>
    <div class="application-side">
        <OfficerApplicationsCard Label="История заявки" />
    </div>
</div>