@page "/created-applications"
@attribute [Authorize(Roles = "Officer")]
@using CleaningAppWeb.Components.Shared.ApplicationCard
@using CleaningAppWeb.Components.Shared.ApplicationModal
@using CleaningAppWeb.Components.Shared.OfficerApplicationsCard
@using CleaningAppWeb.Domain.Enums
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

<PageTitle>Созданные заявки</PageTitle>

<div class="w-100 h-100 d-flex flex-row">
    <div class="application-side">
        <OfficerApplicationsCard Label="Активные заявки" 
                                 Statuses="[CleaningApplicationStatus.Waiting, CleaningApplicationStatus.InWork]" />
    </div>
    <div class="application-side">
        <OfficerApplicationsCard Label="История заявки"
                                 Statuses="[CleaningApplicationStatus.Done, CleaningApplicationStatus.Rated]" />
    </div>
</div>