@page "/notfound"
@using CleaningAppWeb.Components.Shared.Button
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc
@layout CleaningAppWeb.Components.Layout.NotFoundLayout
@attribute [AllowAnonymous]
@attribute [IgnoreAntiforgeryToken]
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Страница не найдена</PageTitle>

<div class="not-found-page">
    <div class="icon-container">
        <svg fill="#F6D200" height="512px" class="icon-fade-in" width="512px" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 310 310" stroke="#312B2B" stroke-width="3">
            <g id="cleaner">
                <g>
                    @if (_icon == 1)
                    {
                        <circle cx="114.685" cy="24.613" r="24.613"></circle>
                        <path d="M251.932,283.747c-4.962-5.641-15.326-4.916-22.37-3.589c-1.214,0.229-2.467-0.078-3.437-0.844 c-0.969-0.766-1.262-1.964-1.616-3.148c-1.971-6.611-7.064-9.753-14.863-11.812c-3.568-0.943-7.014-1.531-10.401-1.472V112.795 l7.655-5.758c5.241-3.943,6.295-11.388,2.351-16.63c-2.443-3.248-6.231-4.883-10.007-4.723V36.035c0-3.231-2.619-5.85-5.85-5.85 s-5.85,2.619-5.85,5.85v55.84l-12.896,9.701l-0.083-16.541c-0.078-15.419-12.685-27.963-28.104-27.963 c-6.611,0-57.131,0-63.756,0c-15.419,0-28.026,12.544-28.104,27.963c-0.012,2.522-0.395,78.767-0.415,82.757 c-9.596,4.419-16.329,14.024-16.582,25.206l5.922,55.998c0.235,2.163,2.062,3.802,4.237,3.802h36.541 c2.18,0,4.009-1.645,4.239-3.814l5.932-55.986c-0.252-11.164-6.965-20.757-16.537-25.186c0.032-6.384,0.395-78.707,0.415-82.658 c0.007-1.265,1.035-2.285,2.299-2.281c1.264,0.004,2.287,1.029,2.287,2.293v74.952c15.831,8.013,21.539,24.83,20.585,33.838 l-5.932,55.986c-0.722,6.815-6.435,11.955-13.288,11.955h-1.36v22.894c0,7.871,6.38,14.251,14.251,14.251 s14.251-6.38,14.251-14.251V170.882h6.154v113.911c0,7.871,6.38,14.251,14.251,14.251c7.871,0,14.251-6.38,14.251-14.251 c0-186.144-0.253-83.868-0.259-199.861c0-1.373,1.113-2.487,2.487-2.488c1.373,0,2.488,1.113,2.488,2.486 c0,0.073-0.001,0.148-0.004,0.224l0.202,40.186c0.023,4.491,2.576,8.585,6.599,10.579c4.027,1.997,8.832,1.547,12.416-1.149 l17.514-13.175v143.328c-12.721,4.114-21.929,12.995-21.929,12.995c-34.275,30.775,58.298,17.672,81.737,20.622 C270.794,301.49,259.848,292.747,251.932,283.747z M85.377,192.998H46.706c0.214-6.457,3.607-12.123,8.659-15.48 c1.492,3.073,3.97,6.703,10.678,6.7c6.942-0.003,9.165-3.591,10.675-6.701C81.77,180.875,85.162,186.54,85.377,192.998z"></path>
                    }
                    else if (_icon == 2)
                    {
                        <path d="M265.79,0H112.151c-4.028,0-7.63,1.853-10.002,4.75c2.605,2.296,4.846,4.99,6.657,7.972h156.985 c0.112,0,0.204,0.092,0.204,0.205v140.806c0,0.112-0.092,0.205-0.204,0.205H120.192v12.722H265.79 c7.127,0,12.927-5.799,12.927-12.927V12.927C278.717,5.799,272.918,0,265.79,0z"></path>
                        <path d="M133.684,138.25l36.08-27.141c5.077-3.819,6.131-10.994,2.409-16.114c1.851-7.6,6.62-27.18,8.396-34.476l27.451,6.685 c1.223,0.298,2.456-0.452,2.754-1.675l2.985-12.258c0.298-1.223-0.452-2.456-1.675-2.754l-71.59-17.435 c-1.223-0.298-2.456,0.452-2.754,1.675l-2.985,12.258c-0.298,1.223,0.452,2.456,1.675,2.754l27.451,6.685 c-0.383,1.573-6.569,26.971-8.943,36.72l-16.737,12.591l-0.081-16.188c-0.076-15.081-12.404-27.365-27.503-27.365 c-7.162,0-56.366,0-62.393,0C26.128,62.224,20.78,77.994,20.722,89.577l-0.429,85.382c-0.033,6.419,5.145,11.648,11.563,11.681 c0.02,0,0.04,0,0.06,0c6.348,0,11.588-5.141,11.621-11.564l0.429-85.383c0.007-1.238,1.013-2.237,2.25-2.233 c1.237,0.003,2.238,1.008,2.238,2.244c0.001,27.769,0.005,182.647,0.005,195.359c0,7.703,6.243,13.946,13.946,13.946 c7.691,0,13.946-6.228,13.946-13.946V173.588h6.022v111.475c0,7.68,6.218,13.946,13.946,13.946 c7.688,0,13.946-6.227,13.946-13.946c0-182.046-0.247-82.185-0.253-195.357c0-1.341,1.085-2.428,2.425-2.432 c1.341-0.004,2.432,1.078,2.439,2.419c0,0.001,0,0.001,0,0.001l0.198,39.327C115.124,138.594,126.093,143.961,133.684,138.25z"></path>
                        <polygon points="231.512,23.778 229.738,31.243 222.272,33.017 229.738,34.791 231.512,42.256 233.286,34.791 240.751,33.017 233.286,31.243 "></polygon>
                        <polygon points="245.506,58.685 246.791,53.276 252.201,51.99 246.791,50.705 245.506,45.295 244.221,50.705 238.811,51.99 244.221,53.276 "></polygon>
                        <polygon points="235.328,69.128 233.799,75.565 227.361,77.095 233.799,78.624 235.328,85.062 236.858,78.624 243.296,77.095 236.858,75.565 "></polygon>
                        <path d="M79.52,54.535c13.22,0,24.087-10.717,24.087-24.087c0-13.303-10.784-24.087-24.087-24.087 c-13.303,0-24.087,10.784-24.087,24.087C55.433,43.857,66.344,54.535,79.52,54.535z"></path>
                    }
                    else if (_icon == 3)
                    {
                        <circle cx="55.182" cy="64.648" r="22.413"></circle>
                        <path d="M243.332,29.636l-5.583-5.761c-3.65-3.766-9.661-3.86-13.426-0.21l-29.325,28.421c-3.52,3.411-3.83,8.884-0.876,12.659 c-2.867,2.735-58.823,56.12-64.385,61.426c-1.563-1.002-3.397-1.624-5.385-1.705l-36.668-1.49l-30.53-18.307l26.551,7.875 c0-10.189-7.236-16.174-15.141-16.174h-27c-8.362,0-15.141,6.779-15.141,15.141l-11.731,99.481 c-0.467,3.402,2.18,6.433,5.609,6.433h6.047L26.157,285.1c-0.02,7.167,5.773,12.994,12.94,13.014c0.013,0,0.025,0,0.038,0 c7.15,0,12.956-5.786,12.977-12.941l0.192-67.748h5.678l0.005,67.712c0.001,7.167,5.811,12.977,12.979,12.977 c7.167-0.001,12.977-5.811,12.977-12.979l-0.005-67.71h4.411c3.392,0,6.026-2.968,5.621-6.337l-6.801-56.607l-3.518-0.143 c-3.517-0.143-6.74,0.159-9.799-2.928c-3.093-3.135-24.924-25.258-27.819-28.193l32.896,19.727 c1.553,0.931,3.314,1.457,5.123,1.531l25.419,1.033c-2.48,2.366-2.146,5.316-0.466,7.077c1.829,1.918,4.868,1.989,6.785,0.16 l7.017-6.695c7.246,0.294,11.688-4.765,11.914-10.34c0.014-0.343,0.008-0.681-0.01-1.017 c2.393-2.283,63.664-60.737,66.075-63.038c3.676,3.374,9.386,3.344,13.015-0.174l29.325-28.421 C246.888,39.413,246.982,33.402,243.332,29.636z"></path>
                        <path d="M170.815,27.78c0.112,0,0.222-0.01,0.331-0.017c0.865,2.637,3.344,4.543,6.271,4.543c3.646,0,6.602-2.956,6.602-6.602 c0-2.082-0.966-3.936-2.471-5.145c1.192-1.152,1.936-2.764,1.936-4.553c0-3.498-2.836-6.335-6.335-6.335 c-3.499,0-6.335,2.836-6.335,6.335c0,0.306,0.029,0.605,0.071,0.9c-0.024,0-0.047-0.004-0.071-0.004 c-3.004,0-5.439,2.435-5.439,5.439C165.376,25.344,167.811,27.78,170.815,27.78z"></path>
                        <path d="M250.722,77.873c-0.234-0.043-0.466-0.062-0.697-0.072c0.004-0.018,0.009-0.036,0.013-0.054 c0.422-2.293-1.095-4.493-3.386-4.914c-2.293-0.422-4.493,1.095-4.915,3.387c-0.016,0.085-0.023,0.17-0.034,0.255 c-2.134,0.29-3.937,1.914-4.348,4.147c-0.512,2.783,1.329,5.453,4.111,5.965c1.589,0.292,3.139-0.185,4.274-1.163 c0.712,1.071,1.838,1.866,3.203,2.117c2.67,0.491,5.232-1.275,5.724-3.945C255.158,80.927,253.392,78.365,250.722,77.873z"></path>
                        <path d="M276.975,0h-73.693c-3.589,0-6.5,2.91-6.5,6.5s2.911,6.5,6.5,6.5h67.193v67.194c0,3.59,2.911,6.5,6.5,6.5 s6.5-2.91,6.5-6.5V6.5C283.475,2.91,280.564,0,276.975,0z"></path>
                    }
                </g>
            </g>
        </svg>
    </div>
    <div class="text-container">
        <h1 style="color: #312B2B;">Похоже, на этой странице сейчас ведётся уборка</h1>
        <div style="color: #6B6B6B;">
            Страница, которую вы ищете, могла быть удалена, перемещена или временно недоступна
        </div>
        <Button Text="Вернуться на главную" Width="width: 35%;" ButtonClass="btn-not-found" OnButtonClick="GoHome" />
    </div>
</div>

@code {
    private readonly Random _random = new Random();

    private byte _icon = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _icon = (byte)_random.Next(1, 4);
            
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}