.application {
    background: #FFFFFF;
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: #312B2B;
    font-size: 24px;
    border-bottom: 1px solid #6B6B6B4D;
}

    .application:hover {
        background: color-mix(in srgb, #FFFFFF 90%, #000000 10%);
    }

    .application:active {
        background: color-mix(in srgb, #FFFFFF 80%, #000000 20%);
    }

    .application:last-child {
        border-bottom: none;
    }

.application-info-count {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.block-info-border-top {
    border-bottom: 1px solid #312B2B;
}

.block-info-border-middle {
    border-top: 1px solid #312B2B;
    border-bottom: 1px solid #312B2B;
}

.block-info-border-bottom {
    border-top: 1px solid #312B2B;
}
