.application {
    background: var(--ca-white);
    transition: background-color 0.3s ease;
    cursor: pointer;
    color: var(--ca-black);
    font-size: 24px;
    border-bottom: 1px solid var(--ca-grey-30);
}

    .application:hover {
        background: color-mix(in srgb, var(--ca-white) 90%, var(--ca-black) 10%);
    }

    .application:active {
        background: color-mix(in srgb, var(--ca-white) 80%, var(--ca-black) 20%);
    }

    .application:last-child {
        border-bottom: none;
    }

.application-info-count {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
