@inherits LayoutComponentBase
@inject NavigationManager Navigation

@if (!IsLoadingPage)
{
    <Navigation />
}
<div style="height: @(IsLoadingPage ? "100" : "90")%">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool IsLoadingPage => Navigation.Uri.Contains("/login", StringComparison.OrdinalIgnoreCase);
}
