@page "/applications-history"
@attribute [Authorize(Roles = "Cleaner")]
@using CleaningAppWeb.Components.Models
@using CleaningAppWeb.Components.Services
@using CleaningAppWeb.Components.Shared.ApplicationCard
@using CleaningAppWeb.Components.Shared.ApplicationModal
@using CleaningAppWeb.Components.Shared.Button
@using CleaningAppWeb.Components.Shared.CheckboxFilter
@using CleaningAppWeb.Components.Shared.CleanerApplicationsCard
@using CleaningAppWeb.Components.Shared.Inputs.Number
@using CleaningAppWeb.Domain.DTOs
@using CleaningAppWeb.Domain.Enums
@using Microsoft.AspNetCore.Authorization
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>История заявок</PageTitle>

<div class="cleaner-applications-page">
    <CleanerApplicationsCard Statuses="[CleaningApplicationStatus.Done, CleaningApplicationStatus.Rated]" />
</div>