@using CleaningAppWeb.Components.Shared.Button
@using CleaningAppWeb.Components.Shared.Inputs.TextArea
@using CleaningAppWeb.Domain.Requests
<div @onclick="CloseModal"
     class="modal-layout modal-layout-@_modalState-active">
    <div @onclick:stopPropagation="true" class="center-modal rating-modal">
        <div style="font-size: 24px;">Оценка работы</div>
        <div style="color: #6B6B6B;">Оцените проделанную работу</div>
        <div class="d-flex flex-row gap-2" style="font-size: 32px;">
            @for (byte i = 0; i < 5; ++i)
            {
                var index = (byte)(i + 1);
                <i class="bi bi-star@(i < RatingRequest.Rating ? "-fill" : string.Empty)"
                   style="cursor: pointer; color: @(i < RatingRequest.Rating ? "#F6D200" : "#6B6B6B");"
                   @onclick="() => SelectRating(index)"></i>
            }
        </div>
        <div>Оставьте отзыв (по желанию)</div>
        <TextArea Placeholder="Ваш отзыв" 
                  Style="resize: none;" 
                  @bind-Value="RatingRequest.Feedback" />
        <div class="d-flex flex-row w-100 justify-content-center gap-4">
            <Button Text="Закрыть"
                    Width="width: 50%;"
                    OnButtonClick="CloseModal" />
            <Button Text="Оценить"
                    IsMainButton="true"
                    Width="width: 50%;"
                    OnButtonClick="RateApplication" />
        </div>
    </div>
</div>